name: test

on: workflow_dispatch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: uhb
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
      - name: Checkout main
        uses: actions/checkout@v4.1.1
        with:
          path: main
          submodules: recursive

      - name: directory
        run: ls ${{ github.workspace }}
